# API keys
GEMINI_API_KEY=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=

# Neo4j
NEO4J_USER=neo4j
NEO4J_PASSWORD=
NEO4J_DATABASE=neo4j

# Qdrant
QDRANT_COLLECTION_PARENT=Parents
QDRANT_COLLECTION_CHILDREN=Children
