__pycach__
*.py[cod]
*$py.class

.env
.env.local

# Data
/pdfs
/p

# Pdfs and GT extract metadata
# extract_metadata/pdfs
# extract_metadata/p
extract_metadata/GT
extract_metadata/GT_grouped

experiments/results/
extract_metadata/extracted_metadata


# chunk pdf
chunk_pdf_section/chunk_md
chunk_pdf_section/xml


*.zip