__pycach__
*.py[cod]
*$py.class

.env
.env.local

# Data
/pdfs
/p

# Pdfs and GT extract metadata
# extract_metadata/pdfs
# extract_metadata/p
extract_metadata/GT/
extract_metadata/GT_grouped/
extract_metadata/experiments/results/
extract_metadata/experiments/raw_logs.py
extract_metadata/experiment_evaluation/
extract_metadata/extracted_metadata/
extract_metadata/notebooks/pdf-info.json



# chunk pdf
chunk_pdf_section/chunk_md/
chunk_pdf_section/xml/

# Entity
extract_entity_relation/


*.zip